/** Muy importante, si quieres reescribir las variables de Bootstrap, tienes que hacerlo antes de este @import 
    * Reescribir variables
**/
$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;
$gris: #B5B5B5;

/** Asignar paleta de coloresa a Bootstrap 
    * Reescribiendo variables
**/
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

/** Tipografía 
* Primero verificar que nuestra fuente soporte 900.
**/
$display-font-weight: 900;
$headings-font-weight: 700;

/** Nav Link **/
$nav-link-padding-x: 0;
$nav-link-color: $gris;
$nav-link-hover-color: darken($gris, 10%);

/** cards **/
$card-border-color: transparent;

/** Importar toda la libreria de Bootstrap **/
@import '../../node_modules/bootstrap/scss/bootstrap.scss';